:root {
  --color-primario: #02d66c;
  --color-segundario: #333333;
  --color-terciario: #eeeeee;
  --color-cuaternario: #777777;

  --font-Roboto: "Roboto", sans-serif;
  --font-Lato: "Lato", sans-serif;

  --font-title1-size: 4em;
  --font-title2-size: 2em;
  --font-title3-size: 1.3em;
  --font-text-size: 1em;

  --font-light-weight: 300;
  --font-normal-weight: 400;
  --font-medium-weight: 500;
  --font-bold-weight: 700;
}
